Flask
Flask-Limiter
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
python-dotenv
crewai
crewai-tools
langchain-community
langchain-openai
openai
flask-cors
requests
libretranslate
Werkzeug
gunicorn
tiktoken
alembic
greenlet
blinker
instructor
numpy
rich
