Flask
Flask-Limiter
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
python-dotenv
crewai
crewai-tools
langchain-community
langchain-openai
openai
flask-cors
requests

# For local translation server
libretranslate

# Werkzeug is a Flask dependency, pin to avoid breaking changes
Werkzeug
gunicorn
tiktoken